<div class="container">
  <div class="row">

    <legend><h3>Reactive Forms</h3></legend>
    <div>

      Reactive Forms (also called <i>Model Drive Forms</i>) are best suited for <em>Large</em> forms (i.e., forms with
      more than two or three simple input
      fields and labels).
      <br>
      <br>
      Reactive Forms work by creating form control objects in the component class of
      a template and binding those controls with HTML form elements in the template.
      <br>
      <br>
      <strong><code>FormBuilder</code></strong> from <b><code>`@angular/forms`</code></b> is used to create Reactive
      Forms within the component class.
      <br>
      <br>
      <strong><code>FormGroup</code></strong>, also from <b><code>`@angular/forms`</code></b>, is used to name and represent the form and its values inside the component class by treating it as a <code>FormGroup</code> instance.
      <br>
      <br>
      <strong><code>ReactiveFormsModule</code></strong> from <b><code>`@angular/forms`</code></b>must be imported in the
      corresponding <b>module</b> of the form's component and then placed inside the
      <code>imports:[]</code> field of <code><b>@NgModule</b></code> in order to use Reactive Forms in Angular. <code>ReactiveFormsModule</code> replaces <code>FormsModule</code> when creating reactive forms. 

    </div>

  </div>

  <div class="row align items-center">
    <div class="col-sm-6">
      <!-- code for ngmodule imports -->
      <pre><code [highlight]="formModuleImports" (highlighted)="onHighlight($event)" [lineNumbers]="true" class=" code language-typescript"></code></pre>

    </div>
    <div class="col-sm-6">
      <!-- explanation -->

    </div>
  </div>

  <div class="row align-items-center">

    <div class=" col-sm-6">
      <pre><code [highlight]="formComponent" (highlighted)="onHighlight($event)" [lineNumbers]="true" class=" code language-typescript"></code></pre>
    </div>

    <div class=" col-sm-6">
      <code>FormBuilder</code> is imported to create reactive forms.
      <br>
      <br>
      <code>FormGroup</code> is imported to create a group of form controls.
    </div>

  </div>

  <div class="row align-items-center">
    <div class="col-sm-6">
      <pre><code [highlight]="formTemplate" (highlighted)="onHighlight($event)" [lineNumbers]="true" class=" code language-html"></code></pre>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
          <label class="label-text-black">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" />
        </div>
        <div class="form-group">
          <fieldset class="fieldset-group" formGroupName="address">
            <div>
              <label>Street</label>
              <input type="text" class="form-control" formControlName="street" />
            </div>
            <div>
              <label>Zip</label>
              <input type="text" class="form-control" formControlName="zip" />
            </div>
            <div>
              <label>City</label>
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </fieldset>
        </div>
        <div class="pt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div *ngIf="showSubmitResults && registerForm.untouched">
        this div will appear when submit button is hit.
        <ul>
          <li>
            it must disapear when the form is touched again
          </li>
          <li>
            the values submitted through the form must be stored somewhere/how in the component (in a model class of
            sorts
            yet to be created) or else they will not appear as the form's values are reset on submission.
          </li>
        </ul>
      </div>
    </div>

    <div class=" col-sm-6">

      <strong><code>[formGroup]="registerForm"</code></strong> is a directive that binds the HTML form tag with the
      <code>FormGroup</code> property created in the component class (i.e., <code>registerForm: FormGroup</code>). This
      connects the form and all it's children values to the property in the template's corresponding component class.
      <br>
      <br>

      When a submit button is clicked in a reactive form, the form is submitted through its <code>ngSubmit</code>
      directive, initializing the form's <i>submitted</i> proeprty to <code>true</code>. Hence,
      <strong><code>(ngSubmit)="onSubmit()"</code></strong>, indicating on that, upon submission, the
      <code>onSubmit()</code> function within the component class will be executed.

    </div>

  </div>

</div>