<!-- *ngIf 
    The below code will throw an error since, by design, hero is undefined in the component class on initialization. 
    Not until a hero is selected above does hero recieve a hero. When this happens, the below code will not throw an error. 
    Hence, using `*ngIf` will create or destroy depending on if hero is empty or not, and this will stop the code from throwing
    an error since, until hero references a non-null/non-undefined value, *ngIf keeps the div off the DOM tree completley. 
-->
<div *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details </h2>

<form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
    <div class="form-group">
            <label for="heroName"> Hero Name </label>
            <input required readonly type="text" id="heroName" class="form-control" formControlName="controlHeroName" placeholder="{{hero.name}}"/>
    </div >
    <div class="form-group">
        <label for="alias"> Alias </label>
        <input type="text" id="alias" class="form-control" formControlName="controlAlias">
    </div >
    <div class="form-group">
        <label for="superpower"> Super Power </label>
        <input type="type" id="superpower" class="form-control" formControlName="controlSuperpower">
    </div >
    <div class="form-group">
        <label for="weakness"> Weakness </label>
        <input type="type" id="weakness" class="form-control" formControlName="controlWeakness">
    </div >
    <button class="btn btn-success" type="submit"> Submit </button>
</form>
</div>