<!-- *ngIf 
    The below code will throw an error since, by design, hero is undefined in the component class on initialization. 
    Not until a hero is selected above does hero recieve a hero. When this happens, the below code will not throw an error. 
    Hence, using `*ngIf` will create or destroy depending on if hero is empty or not, and this will stop the code from throwing
    an error since, until hero references a non-null/non-undefined value, *ngIf keeps the div off the DOM tree completley. 
-->
<div *ngIf="hero">
    <div class="container-fluid">
       <legend> <h2>{{ hero.name | uppercase }} </h2></legend>
        <div class="row"> 
            <div class="col-sm-4">
                <img class="img-fluid img-thumbnail" [src]="profilePicture"/>
                <!-- <img class="img-fluid img-thumbnail" ng-src="'data:image/jpeg;base64',{{imagePathTwo}}"/> -->
                <!-- <img class="img-fluid img-thumbnail" [src]="imagePathTwo"/> -->
            </div >
        </div >
        <div class="row">
            <div class="col-sm-4">

                <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
                    <div class="form-group">
                        <label for="heroNameId"> Hero Name </label>
                        <input required type="text" name="heroName" id="heroNameId" class="form-control" formControlName="controlHeroName" placeholder="{{hero.name}}" />
                    </div >
                    <div class="form-group">
                        <label for="alias"> Alias </label>
                        <input required type="text" id="alias" class="form-control" formControlName="controlAlias" placeholder="{{hero.alias}}" >
                    </div >
                    <div class="form-group">
                        <label for="superpower"> Super Power </label>
                        <input required type="type" id="superpower" class="form-control" formControlName="controlSuperpower" placeholder="{{hero.superpower}}">
                    </div >
                    <div class="form-group">
                        <label for="weakness"> Weakness </label>
                        <input required type="type" id="weakness" class="form-control" formControlName="controlWeakness" placeholder="{{hero.weakness}}">
                    </div >
                    <div class="form-group">
                        <label for="description"> Description </label>
                        <textarea required  id="description" class="form-control" formControlName="controlDescription" placeholder="{{hero.description}}"></textarea>
                    </div >
                        <div class="form-group"> 
                            <label for="profilePicture"> Picture </label>
                            <input type="file" id="profilePicture" class="form-control" (change)="onFileChanged($event)" >
                            <input type="file" id="profilePicture" class="form-control-file" (change)="onFileChanged($event)" >

                            <!-- <input type="file" id="profilePicture" class="form-control"> -->
                        </div>
                    <button class="btn btn-success" type="submit"> Update Hero </button>
                    
                </form>
                <button class="btn btn-success" (click)=deleteHero()> Delete Hero </button>
            </div >
            </div >
        </div>


    </div>

