<!-- *ngIf 
    The below code will throw an error since, by design, hero is undefined in the component class on initialization. 
    Not until a hero is selected above does hero recieve a hero. When this happens, the below code will not throw an error. 
    Hence, using `*ngIf` will create or destroy depending on if hero is empty or not, and this will stop the code from throwing
    an error since, until hero references a non-null/non-undefined value, *ngIf keeps the div off the DOM tree completley. 
-->
<div *ngIf="hero">
    <div class="container-fluid">
       <legend> <h2>{{ hero.name | uppercase }} </h2></legend>
        <div class="row"> 
            <div class="col-sm-4 mb-5 mt-2">
                <img class="img-fluid img-thumbnail" [src]="profilePicture"/>
            </div >
        </div >
        <div class="row">
            <div class="col-sm-4">

                <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
                    <div class="form-group row mb-3">
                            <label class="col-form-label col-sm-3 " for="heroNameId"> Name </label>
                                <div class="col-sm-9">
                                    <input required class="form-control" type="text" name="heroName" id="heroNameId" formControlName="controlHeroName" placeholder="{{hero.name}}" />
                                </div>
                    </div >
                    <div class="form-group row mb-3">
                        <label class="col-form-label col-sm-3" for="alias"> Alias </label>
                        <div class="col-sm-9">
                            <input required type="text" id="alias" class="form-control" formControlName="controlAlias" placeholder="{{hero.alias}}" >
                        </div>
                    </div >
                    <div class="form-group row mb-3">
                        <label class="col-form-label col-sm-3" for="superpower"> Power </label>
                        <div class="col-sm-9">
                            <input required type="type" id="superpower" class="form-control" formControlName="controlSuperpower" placeholder="{{hero.superpower}}">
                        </div>
                    </div >
                    <div class="form-group row mb-3">
                        <label class="col-form-label col-sm-3" for="weakness"> Weakness </label>
                        <div class="col-sm-9">
                            <input required type="type" id="weakness" class="form-control" formControlName="controlWeakness" placeholder="{{hero.weakness}}">
                        </div>
                    </div >
                    <div class="form-group row mb-3">
                        <label class="col-form-label col-sm-3" for="description"> Description </label>
                        <div class="col-sm-9">
                            <textarea required  id="description" class="form-control" formControlName="controlDescription" placeholder="{{hero.description}}"></textarea>
                        </div>
                    </div >
                        <div class="form-group row mb-3"> 
                            <label class="col-form-label col-sm-3" for="profilePicture"> Picture </label>
                            <div class="col-sm-9">
                                <input type="file" id="profilePicture" class="form-control-file" (change)="onFileChanged($event)" >
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit"> Update Hero </button>
                        </div>
                </form>
                <button class="btn btn-success" (click)=deleteHero()> Delete Hero </button>
            </div >
            </div >
        </div>


    </div>

