<h3>Router</h3>

Routing is the action of navigating between multiple views in a single page. Although Angular SPAs can be built out without routing, routing is useful for: 
<ul>
    <li>
        expressing some aspect of the state of the application in the URL 

    </li>
</ul>

<br>

<!-- <ngx-gist [gistId]="'augustoibarrola/f069ccbc08b189df987750d19239a760'"></ngx-gist> -->

<br>

<div class="table-responsive">
    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Module</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><code>Routes</code></th>
          <td>
            <!--<code>@angular/forms</code>-->
            <code>@angular/router</code>
          </td>
          <td>
         Angular's component router belongs to the <code>@angular/router</code> module.
          </td>
        </tr>
        <tr>
            <th scope="row"><code>RouterModule</code></th>
            <td>
              <!--<code>@angular/forms</code>-->
              <code>@angular/router</code>
            </td>
            <td>
           Angular's component router belongs to the <code>@angular/router</code> module.
            </td>
          </tr>
      </tbody>
    </table>
  </div>
 
