<p>router-landing-page works!</p>
<div >
    Routing is the action of navigating between multiple views in a single page. Although Angular SPAs can be built out without routing, routing is useful for: 
    <ul>
        <li>
            expressing some aspect of the state of the application in the URL 
    
        </li>
    </ul>
    
    <br>
    
    CLI command <code>ng generate guard auth></code> creates an <code>auth.guard.ts</code> file (and corresonding <code>.spec.ts</code> file), where "auth" is a 
    user defined name for the component. 
    <div class="table-responsive">
      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Module</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><code>Routes</code></th>
            <td>
              <!--<code>@angular/forms</code>-->
              <code>@angular/router</code>
            </td>
            <td>
           Angular's component router belongs to the <code>@angular/router</code> module.
            </td>
          </tr>
          <tr>
              <th scope="row"><code>RouterModule</code></th>
              <td>
                <!--<code>@angular/forms</code>-->
                <code>@angular/router</code>
              </td>
              <td>
             Angular's component router belongs to the <code>@angular/router</code> module.
              </td>
            </tr>
            <tr>
              <th scope="row"><code> ActivatedRoute </code></th>
              <td>
                <!--<code>@angular/forms</code>-->
                <code>@angular/router</code>
              </td>
              <td>
                <code>ActivatedRoute</code> is an Angular routing service used to access route paramters. 
                An instance of this service will contain all the information on routes associated with the service
                instance's parent component. 
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div >