<h2>Forms</h2>
<ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="/forms">Forms</a></li>
            <li class="nav-item"><a class="nav-link active" routerLink="/template-form">Template Forms</a></li>
            <li class="nav-item" ><a class="nav-link" routerLink="/reactive-form">Reactive Forms</a></li>
            <li class="nav-item" ><a class="nav-link" routerLink="/validations-form">Reactive Forms</a></li>
</ul>
<br>

<!-- <button (click)="showTemplateFormBtn()">Template Forms</button>
<button (click)="showReactiveFormBtn()">Reactive Forms</button>
<button (click)="showValidationsBtn()">Form Validations</button> -->

<div *ngIf="showTemplateForm">
    <template-form></template-form>
</div>

<div *ngIf="showReactiveForm">
    <reactive-form></reactive-form>
</div>

<div *ngIf="showValidations">
    <validations-template></validations-template>
</div>
