<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Forms</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" routerLink="template-form">Template Forms</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="reactive-form">Reactive Forms</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="validations-form">Form Validations</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>