<p>route-guards works!</p>
<div>
    <div>
      <!-- code -->
    </div>
    <div>
      route guards
      <br>
      route guards are the interfaces which communicate to the router on whether a user is allowed to navigate to a requested route or not. 
      <br>
      <div class="table-responsive">

      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Interface</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><code>canActivate</code></th>
            <td>decides whether a route can be activated or not.</td>
          </tr>
          <tr>
            <th scope="row"><code>canActivateChild</code></th>
            <td>decides whether a child route can be activated or not.</td>
          </tr>
          <tr>
            <th scope="row"><code>canDeactivate</code></th>
            <td>decides whether a route can be deactivated or not.</td>
          </tr>
          <tr>
            <th scope="row"><code>canLoad</code></th>
            <td>decides whether a children can be loaded or not.</td>
          </tr>
          <tr>
            <th scope="row"><code>Resolve</code></th>
            <td>can be implemented be classes to be a data provider, which is used with the router for resolving data while navigating</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>

  </div>
