<div class="container">

  <div class="row">
    <legend>
      <h3>Form Validations</h3>
    </legend>
    <div>
      Custom <strong><code>Validators</code></strong> must be placed in the <code>imports:[]</code> attribute of the
      corresponding <code>NgModule</code> class.

      <br>
      <br>

      <!-- These custom made validators must be annotated with <bold><code>@Directive<span ng-non-bindable>({selector:'customValidator'})</span></code>
      </bold>. <em>Directives</em> are functions that are executed whenever the Angular compiler finds them in the
      <code>DOM</code>. Hence, custom made validators must be annotated with <code>@Directive</code> since they are used
      in the input fields that are actually existant on the <code>DOM</code>. -->

    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-6">

      <!--TODO INSERT CODE SNIPPET HERE  -->
      <pre><code [highlight]="formTemplate" (highlighted)="onHighlight($event)" [lineNumbers]="true" class="code language-typescript"></code></pre>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
          <label class="label-text-black">First Name</label>
          <input required type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input required type="text" class="form-control" formControlName="lastName" />
        </div>
        <div class="form-group">
          <fieldset class="fieldset-group" formGroupName="address">
            <div>
              <label>Street</label>
              <input type="text" class="form-control" formControlName="street" />
            </div>
            <div>
              <label>Zip</label>
              <input type="text" class="form-control" formControlName="zip" />
            </div>
            <div>
              <label>City</label>
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </fieldset>
        </div>
        <button type="submit" [disabled]="registerForm.invalid">Submit</button>
      </form>
    </div>
    <div class="col-sm-6">
      explanation on code explanation on code explanation on code explanation on code explanation on code explanation on
      code explanation on code explanation on codeexplanation on code explanation on code explanation on code
      explanation on code explanation on code explanation on code explanation on code explanation on code
    </div>
  </div>

</div>