<!--<h2>{{ hero.name | uppercase }} Details</h2>-->

<!-- 
    <div>
        <span>Id: </span>{{hero.id}}
    </div>

    <div>
        <span>Name: </span>{{hero.name}}
    </div> 
-->
<!-- REFACTORED FROM ABOVE USING TWO-WAY BINDING [(ngModel)] -->

<!--<div>
  <label for="name"> Hero Name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
  <//!--[(ngModel)] is Angular's two-way data binding syntax. hero.name and the <input> element now share the same synchronized data --//>
</div>-->

<!-- <div *ngIf="heroes?.length > 0; then heroesDisplay; else noHeroesDisplay">
   -->
   <button (click)="clearHeroes()">Clear Heroes</button>
   <button (click)="callHeroes()">Call Heroes</button>
   <div *ngIf="heroes?.length > 0; else noHeroesDisplay">
  <!-- <ng-template #heroesDisplay> -->

  <h2>My Heroes</h2>
  <ul class="heroes">
    <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"> -->
      <li *ngFor="let hero of heroes">
      <!-- *ngFor is Angular's REPEARED DIRECTIVE. It repeats the host element for each element in a list. -->
      <!-- [class.selected]="some-condition" is an ATTRIBUTE BINDER. If "some-condition" is true, it will create the css class 'selected' on the <li> element, if not, it remains uncreated-->
      <a routerLink="/heroes/{{hero.id}}" (outputMsg)="heroCounterIncrease($event)">
        <span class="badge">{{ hero.id }}</span>{{ hero.name | heroHonorific:"M"}}<span class="badge">{{hero.counter}}</span>
      </a>
    </li>
    <!--<li *ngFor="let hero of heroes">        
            <li> = host element
            heroes = the reference to the heroes property in the HeroesComponent holding the list of HEROES
            hero = holds the current "hero" object for each iteration through the "heroes" list explained above
    -->
  </ul>
</div>
<!-- </ng-template> -->
<ng-template #noHeroesDisplay>
  <div>
    no heroes at the moment!
  </div>
</ng-template>

<!-- <div>
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div> -->
