<div class="container">
  <div class="row">
    <div class="col-sm">
      <a routerLink="routes" class="test" ><legend><h2>Router</h2></legend></a>
    </div>
  </div > 

  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" routerLink="lazy-loading">Lazy Loading</a></li>
        <!-- make nav-link to /lazy-loading/preloading -->
        <li class="nav-item"><a class="nav-link active" routerLink="route-guards">Route Guards</a></li>
      </ul>
    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div >
  </div>
</div>


 

 
  